/cmake-build-debug/
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/prj1.exe
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/prj1.dir/VariableController.c.obj
cmake-build-debug/CMakeFiles/prj1.dir/Parser.c.obj
cmake-build-debug/CMakeFiles/prj1.dir/main.c.obj
cmake-build-debug/CMakeFiles/prj1.dir/Lexer.c.obj
cmake-build-debug/CMakeFiles/prj1.dir/Calculator.c.obj
cmake-build-debug/CMakeFiles/prj1.dir/all.c.obj
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-06d48e123e77e4b7267b.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-03-27T17-25-32-0476.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-df74949b63cc80cb3f80.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b3fcae9599c447f07352.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-7343d8eea52bb3320794.json

CMakeLists.txt

*.txt
